# local package
-e .

# external requirements
click==8.0.4
Sphinx==5.2.3
coverage==6.2
awscli==1.24.10
pylint==2.13.9
black==22.8.0
pytest==7.0.1
pytest-cov==4.0.0
python-dotenv==0.20.0
jupyterlab==3.2.9
cfbd==4.4.9
